:root {
    /*---COLORS---*/
    --background: rgba(15, 17, 21, 1);
    --banner-background: rgba(49, 48, 54, 1);
    --white-alpha-20: rgba(255, 255, 255, 0.2);
    --on-background: rgba(229, 238, 255, 1);
    --on-surface: rgba(234, 229, 255, 1);
    --on-surface-variant: rgba(111, 111, 113, 1);
    --surface: rgba(26, 24, 32, 1);
    --text-color: rgba(149, 148, 153, 1);
    --white: rgba(255, 255, 255, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    background-color: rgba(0,0,0,255);
    color: var(--white);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--banner-background);
    border-radius: 8px;
}
/*---header---*/
header{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(90deg, hsl(220, 17%, 7%) 0%, rgba(15, 17, 21, 0.5) 100% ), url("../images/header-image.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo1{
    width: 167px;
    height: 45px;
    margin-right: auto;
}
.language-select{
    background-color: rgba(0,0,0,255);
    border: 1px solid var(--white-alpha-20);
    color: var(--on-background);
    height: 40px;
    padding: 7px 22px;
    border-radius: 4px;
    font-size: 14px;
}
option{
    background-color: var(--text-color);

}
.login-btn{
    border: 0;
    outline: 0;
    height: 40px;
    background-color: rgb(226,14,21);
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    letter-spacing: normal;
    margin-left: 20px;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-content h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: 900;
}
.header-content h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
/*---email---*/
.email-signup {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 16px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.email-signup .form-control {
    position: relative;
    margin: 0;
}

.email-signup .form-control input {
    width: 100%;
    background-color: var(--banner-background);
    border: none;
    outline: none;
    border-radius: 4px;
    color: var(--white);
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
    padding: 24px 160px 8px;
    box-sizing: border-box;
}

.form-control input:is(:focus, :valid) {
    background-color: #444;
    padding: 24px 16px 8px;
}

.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid)~label {
    font-size: 12px;
    transform: translateY(-130%);
    margin-top: 2px 0 20px;
}

.email-signup button{
    flex-shrink: 0;
    height: 60px;
    background:rgb(226,14,21);
    border: 0;
    border-radius: 4px;
    outline: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 8px;
    padding: 0 30px;
}
/*---annuncio---*/
.announcement{
    text-align: center;
    font-size: 18px;
    padding: 0 9.25rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;
}
.section1{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    -webkit-box-pack: center;
    transition: transform 0.3s ease;
}

.section1:hover{
    transform: scale(1.05);
}

.section1 img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

.section1 .announcement-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    border-radius: 8px;
    background: linear-gradient(to right, rgba(33,13,23,255), rgba(25,33,68,255));;
    color: #fff;
}

.announcement-bar:hover {
    background: linear-gradient(to right, rgb(103,66,115), rgba(28,30,84,255));;
}

.announcement-bar span{
    text-align: left;
}

.announcement-bar button {
    background-color: rgba(67,70,101,255);
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.announcement-bar button:hover {
    background-color: #2f3249;
    color: #fff;
}

.announcement .section-title h2 {
    margin: 16px;
    text-align: left;
    font-size: 24px;
    font-weight: 500 bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    padding: 8px ;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #141414;
    background-size: cover;
    transition: transform 0.3s ease;
    overflow: visible;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-radius: 8px;
    display: block;
}

.card:hover {
    transform: scale(1.05);
}

.card .rank {
    position: absolute;
    bottom: 10px;
    left: -25px;
    font-size: 100px;
    font-weight: 700;
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    color: #000;
    -webkit-text-stroke: 1px #fff;
    z-index: 1;
}

.card span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(226,14,21);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    letter-spacing: 0.5px;
}


/*---features---*/
.features {
    padding: 0 148px;
    margin-top: 32px;
}

.features .section-title {
    margin: 16px;
    text-align: left;
    font-size: 24px;
    font-weight: 500 bold;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 0 20px;
}

.feature-card {
    background: linear-gradient(to bottom right, rgba(25,33,68,255), rgba(33,13,23,255)); 
    position: relative;
    height: 250px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
}

.feature-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-description {
    font-size: 16px;
    margin-bottom: 20px;
    color: rgb(139,140,152);
}

.feature-icon {
    position: absolute;
    bottom: 16px; 
    right: 16px;
    width: 60px;
    height: auto;
    object-fit: contain;
}

/*---faq---*/
.faq{
    padding: 10px 12%;
    text-align: left;
    font-size: 18px;
}
.faq .section-title p{
    margin: 16px;
    text-align: left;
    font-size: 24px;
    font-weight: 500 bold;
}
/*---accordion---*/
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 1000px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li button{
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-stretch: 100%;
    font-size: 24px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    text-align: start;
    border: none;
}
.accordion li button img{
    transition: transform 0.3s ease;
    float: right;
    width: 50px;
    color: #fff;
    background-color: transparent;
}

input[type="radio"]{
    display: none;
}

.accordion li .content{
    width: 100%;
    background-color: #303030;
    text-align: left;
    margin: 2px;
    padding: 20px;
    font-size: 24px;
    display: none;
}

/*---faq email---*/
.faq .email-form-title{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/*---footer---*/
footer{
    padding: 50px 15% 10px;
}
footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 12px;
}
footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
footer .col a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    margin-bottom: 10px;
}
footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
footer .language-btn{
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}
.copyright-txt{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}
/*---media-query-small-screen---*/
@media only screen and (max-width: 600px){
    
}