*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
img,
span,
iframe,
button {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input {
    width: 100%;
}

button {
    text-align: left;
    cursor: pointer;
}

html {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
    line-height: 1.2;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 255);
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
}

:focus-visible {
    outline-color: rgb(226, 14, 21);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}

/*---HEADER---*/
.header {
    height: 68px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background-color .4s;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-left .logo img {
    display: block;
    width: 96px;
    height: 30px;
    margin-right: 25px;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-links li {
    font-size: 14px;
    color: rgb(176, 176, 176);
    margin-left: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(176, 176, 176);
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #fff;
}

.navbar-right {
    align-items: center;
    display: flex;
    flex-grow: 1;
    height: 100%;
    justify-content: flex-end;
    position: absolute;
    right: 60px;
    top: 0;
}

.navbar-right .nav-element {
    margin-right: 15px;
}

/*---NOTIFICATION-BELL---*/
.notification-btn {
    background-color: rgba(0, 0, 0, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.notification-btn img {
    filter: invert(1);
    width: 24px;
    height: 24px;
}

/*---PROFILE---*/
.userInfo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.userInfo .avatar {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0b/Netflix-avatar.png');
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

/*---RANDOM-QUOTES---*/
.quote-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    border-radius: 8px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(33, 13, 23, 255), rgba(25, 33, 68, 255));
    color: #e5e5e5; /* Testo chiaro */
    padding: 20px 30px;
    border: 1px solid #333; /* Bordo sottile per separare */
    border-radius: 15px;
    text-align: center;
    max-width: 600px;
    transition: transform 0.3s ease;
}

.quote-box:hover {
    background: linear-gradient(to right, rgb(103, 66, 115), rgba(28, 30, 84, 255));
}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.brush-icon {
    filter: invert(1);
    width: 36px;
    height: 36px;
}

.quote-text {
    font-size: 24px;
    font-style: italic;
    color: #fff;
    margin: 0;
    padding: 15px 20px;
    line-height: 1.2;
    position: relative;
}

.blockquote .author{
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    color: rgb(176, 176, 176);
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
}

/*---ALLERT---*/
.alert {
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
}

.alert.alert-success {
    background-color: #e6f7e6;
    border-color: #b2d8b2;
    color: #2d572c;
}

.alert.alert-error {
    background-color: #fdecea;
    border-color: #f5c6c6;
    color: #a94442;
}

.alert .close-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: inherit;
    cursor: pointer;
}

.alert .close-btn:hover {
    opacity: 0.7;
}

/*---PROFILE---*/
.profile-section {
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
    margin: 0px 20%;
    font-size: 32px;
    max-width: 800px;
}

.profile-section h2 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #fff;
}

.profile-section .profile-card {
    background-color: #fff;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 16px;
    padding: 20px 30px;
    color: #e5e5e5;
}

.profile-section .profile-card table {
    color: rgba(0, 0, 0, 255);
    font-size: 20px;
    height: 200px;
    width: 100%;
}

.profile-section .profile-card table td:nth-child(1) {
    padding-left: 20px;
    font-weight: bold;
}

.profile-section .profile-card table td:nth-child(2) {
    text-align: center;
}

.profile-section .profile-card table td:nth-child(3) {
    font-size: 18px;
    padding-left: -20px;
}

.profile-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.edit-account-btn {
    height: 50px;
    background: rgb(176, 176, 176);
    border: none;
    border-radius: 16px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 30px;
}

.edit-account-btn:hover {
    background-color: rgb(226, 14, 21)
}

.logout-btn {
    height: 50px;
    background: rgb(176, 176, 176);
    border: none;
    border-radius: 16px;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20px;
    padding: 0 30px;
}

.logout-btn:hover {
    background-color: rgb(226, 14, 21)
}


/*---footer---*/
footer {
    padding: 50px 160px 10px;
    background-color: rgba(0, 0, 0, 255);
    color: #fff;
}

footer h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

footer .col {
    flex: 0 1 calc(25% - 20px);
    margin-bottom: 20px;
}

footer .col a {
    display: block;
    text-decoration: none;
    color: rgb(176, 176, 176);
    font-size: 14px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

footer .col a:hover {
    color: #fff;
}

footer .language-btn {
    color: #fff;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #fff;
}

footer .language-btn:hover {
    background-color: #444;
}

.copyright-txt {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    color: rgb(176, 176, 176);
}

/* MEDIA QUERIES */